header.header
  .header__wrapper
    .header__topBar
      img.header__logo(src="/images/Logo.svg")
      span.header__menu(onclick="openNav()") Menu
        img.header__menu_hamburger(src="/images/Hamburger.svg")
      .sidenav#sidenav
        span.closebtn(onclick="closeNav()") &times;
        a Menu
        a Contact Information
        a Refund Policy
        a Allergy Information
        a Custom Orders
        br
        br
        a Legal
        .shopping_cart
          h3 My Cart
            .row
              .cart
                each item in shoppingCart
                  .shopping_cart__item
                    span.item__name= `${item.quantity}x ${item.name} `
                    span.item__unit_price= `$${item.unitPrice * item.quantity}`
                    small.shopping_cart__item_remove &times;
            .row
              small 6% tax
              span= ` $${tax}`
            .row
              hr
            .row
              p= `Order Total: $${total}`
            .row
              button Place Order
    .header__subBar

  script.
    function openNav () {
      document.getElementById("sidenav").style.width = "333px";
    }

    function closeNav () {
      document.getElementById("sidenav").style.width = "0";
    }
